{% extends "templates/base_page.html" %}
{% block content %}
<div id="saved-routes-list" class="mdl-list">
    <div class="mdl-list__item saved-route">
        <span class="mdl-list__item-primary-content">
          <span>Wrigley Field to Rose-Hulman</span>
        </span>
        <button type="button" class="mdl-button mdl-js-button mdl-button--icon edit-saved-route">
            <a class="mdl-list__item-secondary-action">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </button>
        <button type="button" class="mdl-button mdl-js-button mdl-button--icon delete-saved-route">
            <a class="mdl-list__item-secondary-action"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </button>
    </div>
    <div class="mdl-list__item saved-route">
        <span class="mdl-list__item-primary-content">
          <span>Work Route</span>
        </span>
        <button type="button" class="mdl-button mdl-js-button mdl-button--icon edit-saved-route">
            <a class="mdl-list__item-secondary-action">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </button>
        <button type="button" class="mdl-button mdl-js-button mdl-button--icon delete-saved-route">
            <a class="mdl-list__item-secondary-action"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </button>
    </div>
    <div class="mdl-list__item saved-route">
        <span class="mdl-list__item-primary-content">
          <span>To Hilton Head</span>
        </span>
        <button type="button" class="mdl-button mdl-js-button mdl-button--icon edit-saved-route">
            <a class="mdl-list__item-secondary-action">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </button>
        <button type="button" class="mdl-button mdl-js-button mdl-button--icon delete-saved-route">
            <a class="mdl-list__item-secondary-action"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </button>
    </div>
</div>
{% endblock %}