#map {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    position: relative !important;
}

#footer_content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    cursor: hand;
}

#footer {
    padding: 5px 5px;
}

.fa-trash{
    color: red;
}

#edit-route-dialog{
    width: 500px;
}

.route-ordered{
    width: auto;
    margin-left: 70px;
}

.route-delete{
    padding-right: 15px;
}

#destinations_label{
    display: inline-block;
}

#ordered_label{
    display: inline-block;
    float: right;
}

#text-toggle, #email-toggle{
    display: inline-block;
}

#share-buttons, #recent-close-btn{
    text-align: center;
}

#recent-dialog{
    width: 500px;
}

.mdl-mini-footer--link-list li, .mdl-mini-footer__link-list li {
    margin: 0px 16px;
    line-height: 24px;
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}
#right-panel {
    height: 100%;
    float: right;
    width: 390px;
    overflow: auto;
}
#map {
    margin-right: 390px;
}
#floating-panel {
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    display: none;
}
#directions_header {
    position: fixed;
    background-color: rgb(0,150,136);
    width: 100%;
    margin: 0px;
    padding: 24px 0px;
    z-index: -1;
    color: white;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}
#directions-panel{
    position: relative;
    top: 113px;
    overflow: auto;
    z-index: -2;
}
@media print {
    #map {
        height: 500px;
        margin: 0;
    }
    #right-panel {
        float: none;
        width: auto;
    }
}